@media screen and (max-width: 768px) {
  .signup-header {
    text-align: center;
    color: #3d4a92;
    margin-bottom: 20px;
    margin-top: -50px;
  }

  .signup-input-id {
    width: 320px;
    margin-bottom: -10px;
  }

  .signup-form-group input {
    width: 320px;
    margin-bottom: 10px;
  }
}
