.Edit-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
    width: 200%
}

.header {
    text-align: center;
}


.header h3 {
    font-size: 1.5rem;
    margin-top: 10px;
    color: #333;
}

.header p{
    margin: 0,0,5,0;
    color:#3d4a92
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.form-group label {
    display: inline-block;
    color: #666;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 3px solid #16117c;
    background-color: #fff;
    color:#16117c;
    border-radius: 25px;
    box-sizing: border-box;
}

.check-button {
    margin-bottom: 10px;
    position: absolute;
    float: right;
    right: 10px;
    padding: 2px 10px;
    background: #3d4a92;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.submit-button {
    background-color: #3d4a92;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 12px;
    font-size: 1.1rem;
    cursor: pointer;
    width: 100%;
}
