.layout-background {
    background-color: aliceblue;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .layout-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1; /* 배경 위에 콘텐츠가 보이도록 설정 */
  }
  
  .logo-container {
    position: absolute;
    top: 2%; /* 로고의 위쪽 위치 조정 */
    left: 5%; /* 로고의 왼쪽 위치 조정 */
    width: 15%; /* 로고 크기 조정 */
  }

  .logo {
    width: 100%; /* 원하는 너비로 설정 */
  }